@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#solver {
    animation: 3s linear infinite rotating;
}


#main {
    background-color: transparent;
}

